<div class="tab-bar">
    <div class="tab-bar-nav">
        <button id="tab-btn active" class="universal-btn primary" data-tab-id="serverwide">Serverwide Ranks</button>
        <button id="tab-btn" class="universal-btn primary" data-tab-id="serverwide-upgrades">Serverwide Upgrades</button>
        <button id="tab-btn" class="universal-btn primary" data-tab-id="towny">Towny Ranks</button>
        <button id="tab-btn" class="universal-btn primary" data-tab-id="towny-upgrades">Towny Upgrades</button>
    </div>
    <div class="tab-bar-content">
        <!-- Content will be dynamically inserted here -->
    </div>
</div>
